.Testimonial{
    font-family: Arial, Helvetica, sans-serif;
    
    background: linear-gradient(22deg, rgba(156,52,240,1) 30%, rgba(88,87,249,1) 100%);
    color: black;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TestimonialContent{
    width: 30%;
}
.TestimonialSlider{
    width: 100%;
    height: 80%;
    padding-bottom: 100px;
    
    
}
.sliderBox1{
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
    box-shadow: 0 0 5px 5px black;
    margin-top: 50px;
    margin-left: 35px;
    height: 300px;
    margin-bottom: 300px;
    
}

.sliderBox1 h1{
    font-size: 20px;
}

.sliderBox1 img{
    width: 100px;
}

.TestimonialContent {
    padding-left: 100px;
    padding-right: 50px;
}

.swiper-pagination-bullet{
    background: white !important;
    opacity: 1 !important;
    color: white !important;

}

.TestimonialContent h1{
    font-size: 60px;
}

.TestimonialContent p{
    font-size: 30px;
    font-weight: bold;
    margin-top: -40px;
}

.TestimonialContent h3{
    font-size: 50px;
    font-weight: bolder;
    margin-top: -10px;
}

.start{
    font-size: 20px;
    color: goldenrod;
}


@media screen and (max-width:600px) {


    .Testimonial{
        margin-top: 100px;
        font-family: Arial, Helvetica, sans-serif;
        
        background: linear-gradient(22deg, rgba(156,52,240,1) 30%, rgba(88,87,249,1) 100%);
        color: black;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }
    .TestimonialContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
  
   .TestimonialSlider{
    display: none;
   }

   .TestimonialSlider1{
    width: 100%;
    height: 100%;
   
    
   }

   .firstwraper{
    display: none;
   }
    
    .sliderBox2{
        padding: 0 0px;
        height: 400px;
        background: black;
        
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sliderBox2 h1{
        font-size: 24px;
    }

    .sliderBox2 img{
        height: 50px;
    }
    

    .sliderBox2 h4{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
  
    
}