.ServiceTechnologyToolsCont{
   
    margin-top: 100px;
}

.toolsHeader{
    font-size: 40px;
    text-align: center;
}

.ServiceTechnologyToolsimgWrap1{
display: flex;
justify-content: space-evenly;
margin-top: 100px;

}

.ServiceTechnologyToolsimgWrap2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    
    }

.imgBox{
   
    padding: 30px 0;
    width: 25%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
}

.imgBox img{
    width: 150px;

}

.ServiceTechnologyToolsimgWrap1 .imgBox img:nth-child(1){
    width: 200px;
}



.ServiceTechnologyToolsimgWrap1 .imgBox:nth-child(1){
    background: linear-gradient(327deg, rgba(255,127,24,1) 0%, rgba(156,52,240,1) 54%, rgba(87,249,247,1) 100%);
    
}

.ServiceTechnologyToolsimgWrap1 .imgBox:nth-child(2){
    background: linear-gradient(327deg, rgba(87,249,247,1) 0%, rgba(156,52,240,1) 54%, rgba(87,249,247,1) 100%);
}

.ServiceTechnologyToolsimgWrap1 .imgBox:nth-child(3){
    background: linear-gradient(327deg, rgba(255,43,194,1) 0%, rgba(156,52,240,1) 54%, rgba(87,249,247,1) 100%);
}

.ServiceTechnologyToolsimgWrap2 .imgBox:nth-child(1){
    background: linear-gradient(327deg, rgba(253,210,49,1) 0%, rgba(156,52,240,1) 54%, rgba(87,249,247,1) 100%); 
}

.ServiceTechnologyToolsimgWrap2 .imgBox:nth-child(2){
    background: linear-gradient(327deg, rgba(0,0,0,1) 0%, rgba(156,52,240,1) 54%, rgba(87,249,247,1) 100%);
}

.ServiceTechnologyToolsimgWrap2 .imgBox:nth-child(3){
    background: linear-gradient(327deg, rgba(10,207,131,1) 0%, rgba(156,52,240,1) 54%, rgba(87,249,247,1) 100%);
}

.ServiceTechnologyToolsimgWrap2 .imgBox:nth-child(2) img{
    width: 135px;
}

.ServiceTechnologyToolsimgWrap2 .imgBox:nth-child(3) img{
    width: 90px;
}

@media screen and (max-width:600px) {

    .ServiceTechnologyToolsCont{
   
        margin-top: 100px;
    }
    
    .toolsHeader{
        font-size: 40px;
        text-align: center;
    }
    
    .ServiceTechnologyToolsimgWrap1{
    margin-top: 50px;
    flex-direction: column;
    
    }
    
    .ServiceTechnologyToolsimgWrap2{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
         margin-top: 0px;
        }
    
    .imgBox{
       
        padding: 30px 0;
        width: 100%;
        margin-top: 20px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
       
    }
    
    .imgBox img{
        width: 150px;
    
    }
    
}