@media screen and (max-width:600px) {

    .swiper-wrapper{
       display: flex !important;
       align-items: center;
   }

   .swiper-backface-hidden .swiper-slide{
    width: 100% !important;
    height: 90%;
    
   }

}